$colors: #92DFF1, #003B4A, #FFFFFF, #F69333, 
#161941, #BF407D, #61C144, #5C1F57, #399BAC,
 #3E3EBB, #C14E44, #9200F1, black;

header{
    display: flex;
    gap: 5px;
}

@mixin boxmodel{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    width: 20%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: nth($colors, 13);
    border: 2px dashed nth($colors, 5)
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10{
    @include boxmodel;
    }
    .box1{
        img{
            width: fit-content;
           height: fit-content;
       }
    }
    .box2{
        background-color: nth($colors , 1);
    }
    .box3{
        background-color: nth($colors , 2);
    }
    .box4{
        background-color: nth($colors , 12);
    }
    .box5{
        background-color: nth($colors , 5);
    }
    .box6{
        background-color: nth($colors , 6);
    }
    .box7{
        background-color: nth($colors , 7);
    }
    .box8{
        background-color: nth($colors , 8);
    }
    .box9{
        background-color: nth($colors , 9);
    }
    .box10{
        background-color: nth($colors , 11);
    }